html{
    background-color: rgb(18, 134, 149);
}

.container-fluid{
    background-color: rgb(18, 134, 149);
}

input[type="text"]{
    background: transparent;
    color: white;
}

input[type="text"]:focus{
    background: transparent;
    color: white;
}